.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  z-index: 2;
  top: 0;
  right: 0;
  left: 0;
  padding: 25x;
  padding-top: 15px;
}
.header__logoImg {
  object-fit: contain;
  width: 100px;
  margin-left: 30px;
}

.header__links {
  display: flex;
  gap: 15px;
}
.header__links button {
  min-width: 50px;
  min-height: 40px;
  border: none;
  outline: none;
  background: transparent;
}

.header__links button:hover {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 40px;
  background-color: hsla(0, 0%, 50.2%, 0.225);
}

.header__links a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700x;
  font-size: 15px;
}

.header__right {
  display: flex;
  align-items: center;
  gap: 10px;
  /* justify-content: space-between; */
  margin-right: 30px;
}
.header__right a:hover {
  cursor: pointer;
  transition: all 0.2s;
  border-radius: 50px;
  background-color: hsla(0, 0%, 50.2%, 0.125);
}

.header__right a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-weight: 700x;
  font-size: 15px;
  z-index: 0;
  position: relative;
}

.header__hideden {
  visibility: hidden;
}
